mat-card {
  margin: 20px;
  padding: 20px;
  display: block;
}

.filters-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Columnas responsivas */
  gap: 15px; /* Espacio entre elementos del grid */
  margin-bottom: 20px;
}

.filters-form mat-form-field {
  width: 100%; /* Asegura que los campos llenen la columna */
}

.buttons {
  grid-column: 1 / -1; /* Ocupa todas las columnas */
  display: flex;
  gap: 10px;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  margin-top: 10px;
}

mat-divider {
  margin: 20px 0;
}

table {
  width: 100%;
}

/* Estilo para las filas cuando no hay datos */
.mat-row.mat-no-data-row {
  text-align: center;
  font-style: italic;
  color: grey;
}